table.common_table {
  background-color: #ffffff;
}

.common_counter {
  width: 60px;
}

.common_team {
  width: 150px;
}

.common_team_content {
  font-size: 80%;
}

.my-border {
  padding: 12px 20px;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 8px;
  background: rgb(250, 250, 250);
  box-shadow: 0px 0px 6px 1px rgba(37, 37, 37, 0.2);
  margin: 10px auto;
}

.block_config_tool {
  display: none;
  text-align: right;
  position: absolute;
  top: 0px;
  right: 0px;
}

.tad_web_block {
  margin: 4px 0px 20px 0px;
  position: relative;
}

.tooltip-inner {
  font-size: 0.92em;
  background-color: #830d48;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.tooltip.bs-tooltip-right .arrow:before {
  border-right-color: #830d48 !important;
}

.tooltip.bs-tooltip-left .arrow:before {
  border-left-color: #830d48 !important;
}

.tooltip.bs-tooltip-bottom .arrow:before {
  border-bottom-color: #830d48 !important;
}

.tooltip.bs-tooltip-top .arrow:before {
  border-top-color: #830d48 !important;
}

.tuf-icon {
  padding-left: 0px;
}

.parent-container {
  width: 100%; /* 父元素的寬度，根據需要進行調整 */
  max-width: 800px; /* 例如，設置一個最大寬度 */
  margin: 0 auto; /* 讓父元素居中 */
}

.custom-row > .col {
  flex: 0 0 100%;
  max-width: 100%;
}

.color-picker {
  width: 80%;
  display: inline-block;
}

@media (min-width: 600px) {
  .parent-container .custom-row > .col {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 800px) {
  .parent-container .custom-row > .col {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}
