<link href="<{$xoops_url}>/modules/tadtools/css/font-awesome/css/font-awesome.css" rel="stylesheet">
<div class="container-fluid">
  <h2><{$smarty.const._MA_TCW_DISK_TOTAL_SPACE_STATUS}></h2>
  <table class="table table-striped table-hover" style="width:auto;">
    <tr>
      <th><{$smarty.const._MA_TCW_TEAMNAME}></th>
      <th><{$smarty.const._MA_TCW_TEAMTITLE}></th>
      <th><{$smarty.const._MA_TCW_TEAMLEADER}></th>
      <th><{$smarty.const._MA_TCW_MEM_AMOUNT}></th>
      <th><{$smarty.const._MA_TCW_TEAMCOUNTER}></th>
      <th><{$smarty.const._MA_TCW_DISK_TOTAL_SPACE}></th>
      <th><{$smarty.const._MA_TCW_DISK_PATH}></th>
    </tr>
    <tbody>
    <{foreach from=$space key=WebID item=space}>
      <{assign var="class" value=$data.$WebID}>
      <tr>
        <td>

        <{if $class.WebEnable=='1'}>
          <img src="../images/show1.gif" alt="<{$smarty.const._TAD_ENABLE}>">
        <{else}>
          <img src="../images/show0.gif" alt="<{$smarty.const._TAD_UNABLE}>">
        <{/if}>

          <a href="../index.php?WebID=<{$WebID}>" target="_blank"><{$class.WebName}></a>
        </td>
        <td>
          <a href="../index.php?WebID=<{$WebID}>" target="_blank"><{$class.WebTitle}></a>
        </td>
        <td>
           <{$class.WebOwner}> (<{$class.uname}>)
        </td>
        <td>
          <{$class.memAmount}>
        </td>
        <td>
          <{$class.WebCounter}>
        </td>
        <td>
          <{$class.disk_total_space}>
        </td>
        <td>
          <{$class.disk_space}>
        </td>
      </tr>
    <{/foreach}>


    </tbody>
  </table>
</div>