<div class="tad_web_block">
  <!-- <{$block.BlockTitle}> -->
  <{if $block.plugin=="xoops"}>
    <{includeq file="$xoops_rootpath/modules/tad_web/templates/tad_web_block_title_b3.html"}>
    <{block id=$block.BlockName}>
  <{elseif $block.plugin=="custom"}>
    <{includeq file="$xoops_rootpath/modules/tad_web/templates/tad_web_block_custom_b3.html"}>
  <{elseif $block.plugin=="share"}>
    <{includeq file="$xoops_rootpath/modules/tad_web/templates/tad_web_block_custom_b3.html"}>
    <div class="alert alert-info">from: <a href="<{$xoops_url}>/modules/tad_web/index.php?WebID=<{$share_info.WebID}>" target="_blank"><{$share_info.WebName}>(<{$share_info.WebTitle}>)</a></div>
  <{else}>
    <{if $block.BlockContent.main_data}>
      <{if "$xoops_rootpath/modules/tad_web/plugins/`$block.plugin`/tpls/`$block.tpl`"|file_exists}>
        <{includeq file="$xoops_rootpath/modules/tad_web/plugins/`$block.plugin`/tpls/`$block.tpl`"}>
      <{else}>
        no template
      <{/if}>
    <{else}>
      目前無內容，無法展示
    <{/if}>
  <{/if}>
</div>