<{if $op=="tad_web_files_form"}>
  <h1><{$smarty.const._MD_TCW_FILES_ADD}></h1>
  <div class="well">
    <form action="files.php" method="post" id="myForm" enctype="multipart/form-data" class="form-horizontal" role="form">

      <!--分類-->
      <{$cate_menu}>

      <div class="control-group">
        <label class="span2 control-label">
          <{$smarty.const._MD_TCW_FILES_UPLOAD}>
        </label>
        <div class="span8 controls">
          <{$upform}>
        </div>
        <div class="span2 controls">
          <!--所屬領域-->
          <input type="hidden" name="WebID" value="<{$WebID}>">
          <!--檔案流水號-->
          <input type="hidden" name="fsn" value="<{$fsn}>">
          <input type="hidden" name="op" value="<{$next_op}>">
          <button type="submit" class="btn btn-primary"><{$smarty.const._TAD_SAVE}></button>
        </div>
      </div>

      <div class="control-group">
        <div class="span12 controls">
          <{$list_del_file}>
        </div>
      </div>
    </form>
  </div>

<{else}>
  <h1><{$smarty.const._MD_TCW_FILES}></h1>
  <{$cate_menu}>
  <{$FooTableJS}>
  <div class="row-fluid">
    <div class="span12">
      <{includeq file="db:tad_web_common_files.html"}>
    </div>
  </div>
<{/if}>

