<{if $isMineHomework}>
  <script>
    function delete_tad_web_news_func(NewsID){
    	var sure = window.confirm("<{$smarty.const._TAD_DEL_CONFIRM}>");
    	if (!sure)	return;
    	location.href="homework.php?op=delete_tad_web_news&NewsID=" + NewsID;
    }
    </script>
<{/if}>

<h1><{$smarty.const._MD_TCW_HOMEWORK}></h1>
<table class="footable">
<thead>
  <tr>
    <th data-hide="phone" style="width:100px;text-align:center;"><{$smarty.const._MD_TCW_NEWSDATE}></th>
    <th data-class="expand"><{$smarty.const._MD_TCW_HOMEWORK}></th>
    <th data-hide="phone" style="width:50px;text-align:center;"><{$smarty.const._MD_TCW_NEWSCOUNTER}></th>
    <{if $showWebTitleHomework}><th data-hide="phone" style="width:100px;text-align:center;"><{$smarty.const._MD_TCW_TEAMID}></th><{/if}>
    <{if !$showWebTitleHomework && $isMineHomework}><th data-hide="phone" style="width:100px;text-align:center;"><{$smarty.const._TAD_FUNCTION}></th><{/if}>
  </tr>
</thead>
<{if $homework_data}>
  <{foreach item=homework from=$homework_data}>
  <tr>
    <td style="text-align:center;"><{$homework.Date}></td>
    <td><a href="<{$homework.NewsKind}>.php?WebID=<{$homework.WebID}>&NewsID=<{$homework.NewsID}>"><{$homework.NewsTitle}></a></td>
    <td style="text-align:center;"><{$homework.NewsCounter}></td>
    <{if $showWebTitleHomework}><td style="text-align:center;"><{$homework.WebTitle}></td><{/if}>
    <{if !$showWebTitleHomework && $isMineHomework}>
		<td style="text-align:center;">
      <a href="javascript:delete_tad_web_news_func(<{$news.NewsID}>);" class="btn btn-mini btn-danger"><{$smarty.const._TAD_DEL}></a>
  		<a href="homework.php?op=tad_web_news_form&NewsID=<{$news.NewsID}>" class="btn btn-mini btn-warning"><{$smarty.const._TAD_EDIT}></a>
    </td>
		<{/if}>
  </tr>
  <{/foreach}>
<{else}>
  <tr><td colspan=4 style="text-align:center;"><{$smarty.const._MD_TCW_EMPTY}></td></tr>
<{/if}>
</table>

<{if $homework_data}>
  <{$bar}>
<{/if}>

<div style="text-align:right">
  <{if $bar==""}>
    <{if $WebID==""}>
      <a href="index.php?op=list_tad_web_homework" class="btn btn-mini btn-primary"><{$smarty.const._MD_TCW_MORE}><{$smarty.const._MD_TCW_HOMEWORK_SHORT}></a>
    <{else}>
      <a href="homework.php?WebID=<{$WebID}>" class="btn btn-mini btn-primary"><{$smarty.const._MD_TCW_MORE}><{$smarty.const._MD_TCW_HOMEWORK_SHORT}></a>
    <{/if}>
  <{/if}>
  <{if $isMineHomework}>
    <a href="homework.php?WebID=<{$WebID}>&op=tad_web_news_form" class="btn btn-mini btn-info"><{$smarty.const._TAD_ADD}></a>
  <{/if}>
</div>