<{if $web_display_mode=="home"}>
  <{if $center_block1}>
    <div class="row">
      <div class="col-md-12">
        <{foreach from=$center_block1 item=block}>
          <div class="tad_web_block">
            <{if $block.plugin=="xoops"}>
              <{block id=$block.BlockName}>
            <{else}>
              <{if "$xoops_rootpath/modules/tad_web/plugins/`$block.plugin`/tpls/`$block.tpl`"|file_exists}>
                <{includeq file="$xoops_rootpath/modules/tad_web/plugins/`$block.plugin`/tpls/`$block.tpl`"}>
              <{/if}>
            <{/if}>
            <{if $isMyWeb and $WebID and $block.BlockContent.main_data}>
              <{includeq file="$xoops_rootpath/modules/tad_web/templates/tad_web_block_tool_b3.html"}>
            <{/if}>
          </div>
        <{/foreach}>
      </div>
    </div>
  <{/if}>

  <{if $center_block2 or $center_block3}>
    <div class="row">
      <{if $center_block2}>
        <div class="col-md-6">
          <{foreach from=$center_block2 item=block}>
            <div class="tad_web_block">
              <{if $block.plugin=="xoops"}>
                <{block id=$block.BlockName}>
              <{else}>
                <{if "$xoops_rootpath/modules/tad_web/plugins/`$block.plugin`/tpls/`$block.tpl`"|file_exists}>
                  <{includeq file="$xoops_rootpath/modules/tad_web/plugins/`$block.plugin`/tpls/`$block.tpl`"}>
                <{/if}>
              <{/if}>
              <{if $isMyWeb and $WebID and $block.BlockContent.main_data}>
                <{includeq file="$xoops_rootpath/modules/tad_web/templates/tad_web_block_tool_b3.html"}>
              <{/if}>
            </div>
          <{/foreach}>
        </div>
      <{/if}>

      <{if $center_block3}>
        <div class="col-md-6">
          <{foreach from=$center_block3 item=block}>
            <div class="tad_web_block">
              <{if $block.plugin=="xoops"}>
                <{block id=$block.BlockName}>
              <{else}>
                <{if "$xoops_rootpath/modules/tad_web/plugins/`$block.plugin`/tpls/`$block.tpl`"|file_exists}>
                  <{includeq file="$xoops_rootpath/modules/tad_web/plugins/`$block.plugin`/tpls/`$block.tpl`"}>
                <{/if}>
              <{/if}>
              <{if $isMyWeb and $WebID and $block.BlockContent.main_data}>
                <{includeq file="$xoops_rootpath/modules/tad_web/templates/tad_web_block_tool_b3.html"}>
              <{/if}>
            </div>
          <{/foreach}>
        </div>
      <{/if}>
    </div>
  <{/if}>

  <{if $center_block4}>
    <div class="row">
      <div class="col-md-12">
        <{foreach from=$center_block4 item=block}>
          <div class="tad_web_block">
            <{if $block.plugin=="xoops"}>
              <{block id=$block.BlockName}>
            <{else}>
              <{if "$xoops_rootpath/modules/tad_web/plugins/`$block.plugin`/tpls/`$block.tpl`"|file_exists}>
                <{includeq file="$xoops_rootpath/modules/tad_web/plugins/`$block.plugin`/tpls/`$block.tpl`"}>
              <{/if}>
            <{/if}>
            <{if $isMyWeb and $WebID and $block.BlockContent.main_data}>
              <{includeq file="$xoops_rootpath/modules/tad_web/templates/tad_web_block_tool_b3.html"}>
            <{/if}>
          </div>
        <{/foreach}>
      </div>
    </div>
  <{/if}>

  <{if $center_block5 or $center_block6}>
    <div class="row">
      <{if $center_block5}>
        <div class="col-md-6">
          <{foreach from=$center_block5 item=block}>
            <div class="tad_web_block">
              <{if $block.plugin=="xoops"}>
                <{block id=$block.BlockName}>
              <{else}>
                <{if "$xoops_rootpath/modules/tad_web/plugins/`$block.plugin`/tpls/`$block.tpl`"|file_exists}>
                  <{includeq file="$xoops_rootpath/modules/tad_web/plugins/`$block.plugin`/tpls/`$block.tpl`"}>
                <{/if}>
              <{/if}>
              <{if $isMyWeb and $WebID and $block.BlockContent.main_data}>
                <{includeq file="$xoops_rootpath/modules/tad_web/templates/tad_web_block_tool_b3.html"}>
              <{/if}>
            </div>
          <{/foreach}>
        </div>
      <{/if}>
      <{if $center_block6}>
        <div class="col-md-6">
          <{foreach from=$center_block6 item=block}>
            <div class="tad_web_block">
              <{if $block.plugin=="xoops"}>
                  <{block id=$block.BlockName}>
              <{else}>
                <{if "$xoops_rootpath/modules/tad_web/plugins/`$block.plugin`/tpls/`$block.tpl`"|file_exists}>
                  <{includeq file="$xoops_rootpath/modules/tad_web/plugins/`$block.plugin`/tpls/`$block.tpl`"}>
                <{/if}>
              <{/if}>
              <{if $isMyWeb and $WebID and $block.BlockContent.main_data}>
                <{includeq file="$xoops_rootpath/modules/tad_web/templates/tad_web_block_tool_b3.html"}>
              <{/if}>
            </div>
          <{/foreach}>
        </div>
      <{/if}>
    </div>
  <{/if}>

<{else}>

  <{$xoops_contents}>

<{/if}>