<{$FooTableJS}>

<{if $op=="ClassHome"}>

  <{if $hide_news != 1}>
    <div class="row-fluid">
      <div class="span12">
        <{includeq file="db:tad_web_common_news.html"}>
      </div>
    </div>
  <{/if}>

  <{if $hide_homework != 1}>
    <div class="row-fluid">
      <div class="span12">
        <{includeq file="db:tad_web_common_homework.html"}>
      </div>
    </div>
  <{/if}>

  <{if $hide_works != 1}>
    <div class="row-fluid">
      <div class="span12">
        <h1><{$smarty.const._MD_TCW_WORKS}></h1>
        <{includeq file="db:tad_web_common_works.html"}>
      </div>
    </div>
  <{/if}>

  <{if $hide_discuss != 1}>
    <div class="row-fluid">
      <div class="span12">
        <h1><{$smarty.const._MD_TCW_DISCUSS}></h1>
        <{includeq file="db:tad_web_common_discuss.html"}>
      </div>
    </div>
  <{/if}>

  <{if $hide_action != 1}>
    <div class="row-fluid">
      <div class="span12">
        <h1><{$smarty.const._MD_TCW_ACTION}></h1>
        <{includeq file="db:tad_web_common_action.html"}>
      </div>
    </div>
  <{/if}>

  <{if $hide_link != 1}>
    <div class="row-fluid">
      <div class="span12">
        <h1><{$smarty.const._MD_TCW_LINK}></h1>
        <{includeq file="db:tad_web_common_link.html"}>
      </div>
    </div>
  <{/if}>

  <{if $hide_files != 1}>
    <div class="row-fluid">
      <div class="span12">
        <h1><{$smarty.const._MD_TCW_FILES}></h1>
        <{includeq file="db:tad_web_common_files.html"}>
      </div>
    </div>
  <{/if}>

  <{if $hide_video != 1}>
    <div class="row-fluid">
      <div class="span12">
        <h1><{$smarty.const._MD_TCW_VIDEO}></h1>
        <{includeq file="db:tad_web_common_video.html"}>
      </div>
    </div>
  <{/if}>

<{elseif $op=="list_tad_web_news"}>
  <div class="row-fluid">
    <div class="span12">
      <{includeq file="db:tad_web_common_news.html"}>
    </div>
  </div>

<{elseif $op=="list_tad_web_homework"}>
  <div class="row-fluid">
    <div class="span12">
      <{includeq file="db:tad_web_common_homework.html"}>
    </div>
  </div>

<{elseif $op=="list_tad_web_files"}>
  <div class="row-fluid">
    <div class="span12">
      <h1><{$smarty.const._MD_TCW_FILES}></h1>
      <{includeq file="db:tad_web_common_files.html"}>
    </div>
  </div>

<{elseif $op=="list_tad_web_works"}>
  <div class="row-fluid">
    <div class="span12">
      <h1><{$smarty.const._MD_TCW_WORKS}></h1>
      <{includeq file="db:tad_web_common_works.html"}>
    </div>
  </div>


<{elseif $op=="list_tad_web_action"}>
  <div class="row-fluid">
    <div class="span12">
      <h1><{$smarty.const._MD_TCW_ACTION}></h1>
      <{includeq file="db:tad_web_common_action.html"}>
    </div>
  </div>

<{elseif $op=="list_tad_web_discuss"}>
  <div class="row-fluid">
    <div class="span12">
      <h1><{$smarty.const._MD_TCW_DISCUSS}></h1>
      <{includeq file="db:tad_web_common_discuss.html"}>
    </div>
  </div>


<{elseif $op=="list_tad_web_link"}>
  <div class="row-fluid">
    <div class="span12">
      <h1><{$smarty.const._MD_TCW_LINK}></h1>
      <{includeq file="db:tad_web_common_link.html"}>
    </div>
  </div>

<{elseif $op=="list_tad_web_video"}>
  <div class="row-fluid">
    <div class="span12">
      <h1><{$smarty.const._MD_TCW_VIDEO}></h1>
      <{includeq file="db:tad_web_common_video.html"}>
    </div>
  </div>


<{else}>
  <div class="row-fluid">
    <div class="span12">
      <{includeq file="db:tad_web_common_aboutus.html"}>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <{includeq file="db:tad_web_common_news.html"}>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <{includeq file="db:tad_web_common_homework.html"}>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <h1><{$smarty.const._MD_TCW_WORKS}></h1>
      <{includeq file="db:tad_web_common_works.html"}>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <h1><{$smarty.const._MD_TCW_ACTION}></h1>
      <{includeq file="db:tad_web_common_action.html"}>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <h1><{$smarty.const._MD_TCW_LINK}></h1>
      <{includeq file="db:tad_web_common_link.html"}>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <h1><{$smarty.const._MD_TCW_FILES}></h1>
      <{includeq file="db:tad_web_common_files.html"}>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <h1><{$smarty.const._MD_TCW_VIDEO}></h1>
      <{includeq file="db:tad_web_common_video.html"}>
    </div>
  </div>
<{/if}>