<{if $data}>
  <{assign var="i" value=0}>
  <{assign var="total" value=0}>

  <table class="table footable">
    <thead>
      <tr>
        <th data-class="expand"><{$smarty.const._MD_TCW_ALL_WEB_TITLE}></th>
        <th><{$smarty.const._MD_TCW_ALL_WEB_OWNER}></th>
        <th data-hide="phone"><{$smarty.const._MD_TCW_ALL_WEB_NAME}></th>
        <th data-hide="phone"><{$smarty.const._MD_TCW_ALL_WEB_COUNTER}></th>
      </tr>
    </thead>
    <{foreach item=class from=$data}>
      <tr>
        <td>
          <a href="index.php?WebID=<{$class.WebID}>"><{$class.WebTitle}></a>
        </td>
        <td>

          <span class="label <{if $class.WebID|in_array:$MyWebs}>label-default<{else}>label-success<{/if}>"><{$class.WebOwner}></span>
        </td>
        <td>
          <a href="index.php?WebID=<{$class.WebID}>"><{$class.WebName}></a>
        </td>
        <td>
          <a href="index.php?WebID=<{$class.WebID}>"><{$class.WebCounter}></a>
        </td>
      </tr>

    <{/foreach}>
  </table>

  <div class="clearfix"></div>
<{/if}>