<{$FooTableJS}>

<{if $op=="ClassHome"}>

  <{if $hide_news != 1}>
    <div class="row">
      <div class="col-md-12">
        <{includeq file="db:tad_web_common_news_b3.html"}>
      </div>
    </div>
  <{/if}>

  <{if $hide_homework != 1}>
    <div class="row">
      <div class="col-md-12">
        <{includeq file="db:tad_web_common_homework_b3.html"}>
      </div>
    </div>
  <{/if}>

  <{if $hide_works != 1}>
    <div class="row">
      <div class="col-md-12">
        <{includeq file="db:tad_web_common_works_b3.html"}>
      </div>
    </div>
  <{/if}>

  <{if $hide_discuss != 1}>
    <div class="row">
      <div class="col-md-12">
        <{includeq file="db:tad_web_common_discuss_b3.html"}>
      </div>
    </div>
  <{/if}>

  <{if $hide_action != 1}>
    <div class="row">
      <div class="col-md-12">
        <{includeq file="db:tad_web_common_action_b3.html"}>
      </div>
    </div>
  <{/if}>

  <{if $hide_link != 1}>
    <div class="row">
      <div class="col-md-12">
        <{includeq file="db:tad_web_common_link_b3.html"}>
      </div>
    </div>
  <{/if}>

  <{if $hide_files != 1}>
    <div class="row">
      <div class="col-md-12">
        <{includeq file="db:tad_web_common_files_b3.html"}>
      </div>
    </div>
  <{/if}>

  <{if $hide_video != 1}>
    <div class="row">
      <div class="col-md-12">
        <{includeq file="db:tad_web_common_video_b3.html"}>
      </div>
    </div>
  <{/if}>

<{elseif $op=="list_tad_web_news"}>
  <div class="row">
    <div class="col-md-12">
      <{includeq file="db:tad_web_common_news_b3.html"}>
    </div>
  </div>

<{elseif $op=="list_tad_web_homework"}>
  <div class="row">
    <div class="col-md-12">
      <{includeq file="db:tad_web_common_homework_b3.html"}>
    </div>
  </div>

<{elseif $op=="list_tad_web_files"}>
  <div class="row">
    <div class="col-md-12">
      <{includeq file="db:tad_web_common_files_b3.html"}>
    </div>
  </div>

<{elseif $op=="list_tad_web_works"}>
  <div class="row">
    <div class="col-md-12">
      <{includeq file="db:tad_web_common_works_b3.html"}>
    </div>
  </div>

<{elseif $op=="list_tad_web_action"}>
  <div class="row">
    <div class="col-md-12">
      <{includeq file="db:tad_web_common_action_b3.html"}>
    </div>
  </div>

<{elseif $op=="list_tad_web_discuss"}>
  <div class="row">
    <div class="col-md-12">
      <{includeq file="db:tad_web_common_discuss_b3.html"}>
    </div>
  </div>

<{elseif $op=="list_tad_web_link"}>
  <div class="row">
    <div class="col-md-12">
      <{includeq file="db:tad_web_common_link_b3.html"}>
    </div>
  </div>

<{elseif $op=="list_tad_web_video"}>
  <div class="row">
    <div class="col-md-12">
      <{includeq file="db:tad_web_common_video_b3.html"}>
    </div>
  </div>

<{else}>
  <div class="row">
    <div class="col-md-12">
      <{includeq file="db:tad_web_common_aboutus_b3.html"}>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <{includeq file="db:tad_web_common_news_b3.html"}>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <{includeq file="db:tad_web_common_homework_b3.html"}>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <{includeq file="db:tad_web_common_works_b3.html"}>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <{includeq file="db:tad_web_common_action_b3.html"}>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <{includeq file="db:tad_web_common_link_b3.html"}>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <{includeq file="db:tad_web_common_files_b3.html"}>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <{includeq file="db:tad_web_common_video_b3.html"}>
    </div>
  </div>
<{/if}>