<{if $op=="tad_web_files_form"}>
  <h1><{$smarty.const._MD_TCW_FILES_ADD}></h1>
  <div class="well">
    <form action="files.php" method="post" id="myForm" enctype="multipart/form-data" class="form-horizontal" role="form">

      <!--分類-->
      <{$cate_menu}>

      <div class="form-group">
        <label class="col-md-2 control-label">
          <{$smarty.const._MD_TCW_FILES_UPLOAD}>
        </label>
        <div class="col-md-8">
          <{$upform}>
        </div>
        <div class="col-md-2">
          <!--所屬領域-->
          <input type="hidden" name="WebID" value="<{$WebID}>">
          <!--檔案流水號-->
          <input type="hidden" name="fsn" value="<{$fsn}>">
          <input type="hidden" name="op" value="<{$next_op}>">
          <button type="submit" class="btn btn-primary"><{$smarty.const._TAD_SAVE}></button>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12">
          <{$list_del_file}>
        </div>
      </div>
    </form>
  </div>
<{else}>
  <{$FooTableJS}>
  <{includeq file="db:tad_web_common_files_b3.html"}>
<{/if}>

